/****************************/
/* BELOW 1520px (medium size desktops) */
/****************************/
@media (max-width: 95em) {
  .grid--4-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  .main {
    max-width: 130rem;
  }

  td {
    padding: 1.6rem 0.4rem;
  }

  .transaction-name {
    font-size: 1.8rem;
  }

  .transaction-status {
    font-size: 1.4rem;
  }
}

/****************************/
/* BELOW 1344px (Smaller desktops) */
/****************************/

@media (max-width: 84em) {
  .main {
    max-width: 120rem;
  }
  /* td {
    padding: 1.6rem 0;
  } */

  .btn-aside:link,
  .btn-aside:visited {
    padding: 1.6rem 4rem;
  }

  .current-total-amount {
    font-size: 5.4rem;
  }
  .transaction-name {
    font-size: 1.4rem;
  }

  .transaction-status {
    font-size: 1.2rem;
  }
  .transaction-amount {
    font-size: 1.4rem;
  }
  .transaction-icon {
    padding: 1rem;
  }
}

/****************************/
/* BELOW 1200px (Landscape Tablets) */
/****************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px */
    font-size: 56.25%;
  }
  table {
    width: 600px;
  }

  .main {
    row-gap: 6rem;
  }

  .left-side-nav-link:link,
  .left-side-nav-link:visited {
    padding: 1.4rem 0;
  }

  .left-side-nav {
    padding-bottom: 10rem;
  }

  .heading-secondary {
    font-size: 1.4rem;
  }

  .current-total-amount {
    font-size: 4rem;
  }

  .transfer-amount {
    font-size: 2.8rem;
  }

  .transfer-text {
    font-size: 1.4rem;
  }

  .transfer-box {
    padding: 0 5.4rem 3.2rem 2.4rem;
  }

  .btn-aside:link,
  .btn-aside:visited {
    padding: 1.6rem 2rem;
  }
}

/****************************/
/* BELOW 992px (Tablets) */
/****************************/

@media (max-width: 62em) {
  .main {
    grid-template-columns: 1fr;
  }
  html {
    /* 8px / 16px */
    font-size: 50%;
  }
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
    max-width: 70rem;
  }

  .notification-icon {
    display: none;
  }

  .profile-name {
    margin-bottom: 1.2rem;
  }

  .transaction-name {
    font-size: 2.2rem;
  }

  .transaction-amount {
    font-size: 2rem;
  }

  .transaction-icon {
    padding: 1.8rem;
  }

  .transaction-status,
  .heading-secondary,
  .transfer-text {
    font-size: 1.8rem;
  }

  .current-total-amount {
    font-size: 4.8rem;
  }

  .transfer-box {
    max-width: 35rem;
  }

  .content-left {
    padding: 0 2.4rem;
  }

  .main-content-box {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    row-gap: 5.4rem;
    column-gap: 0;
    max-width: 80rem;
    margin: 0 auto;
  }

  .content-right {
    margin: 0 auto;
  }

  .transfers {
    margin: 0 auto;
    padding: 0 1.2rem;
  }

  /* MOBILE NAVIGATION */

  .logo-link:link,
  .logo-link:visited {
    margin-top: 0;
  }

  .header {
    grid-column: 1;
    margin-top: 0;
  }

  .heading-primary {
    display: none;
  }

  .header-left {
    margin: 0 auto;
  }

  .left-header {
    max-width: 100%;
    width: 100%;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    /* because we want header to be sticky later */
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
  }

  .left-side-footer {
    display: none;
  }

  .aside-bussines {
    display: none;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
    /* position: fixed;
    top: 0;
    right: 0;
    padding: 2.4rem; */
  }

  /* STICKY NAVIGATION */

  .sticky .left-header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(216, 228, 255, 0.97);
    z-index: 999;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  }

  .sticky .header {
    margin-top: 15.6rem;
  }

  .left-side-nav-link:link,
  .left-side-nav-link:visited {
    padding: 1.4rem 4rem;
  }

  .left-side-nav {
    margin: 0;
    padding: 0;
    z-index: 999;
    background-color: #fafbfb;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;
    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;
    /* #) Hide it from screen readers */
    visibility: hidden;
  }
  .nav-open .left-side-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  /* .icon-mobile-nav[name="close-outline"] {
    transition: all 2s;
  } */

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    padding: 2.1rem 3.8rem 0 0;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .left-side-nav-link:link,
  .left-side-nav-link:visited {
    font-size: 2.4rem;
  }

  .left-side-nav-list {
    gap: 2.4rem;
  }

  /* MOBILE FOOTER */

  .footer-mobile {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 4rem;
    border-top: 1px solid #eee;
    gap: 2.4rem;

    margin: 4rem auto;
  }

  .footer-mobile-nav-with-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
  }

  .aside-bussines-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;

    padding: 1.6rem 2.4rem;

    background: #fafbfb;
    border-radius: 8px;
    width: 50%;
  }
}

/****************************/
/* BELOW 560px (Phones) */
/****************************/

@media (max-width: 35em) {
  .grid--4-cols {
    grid-template-columns: 1fr;
    max-width: 40rem;
  }

  .header-left {
    flex-direction: column;
  }

  .left-side-nav {
    justify-content: flex-start;
  }

  .transaction-name {
    font-size: 2rem;
  }

  .transaction-amount {
    font-size: 1.8rem;
  }
}
