.main {
  grid-template-columns: 1fr 2fr 2fr;
  row-gap: 10rem;
  max-width: 160rem;
  margin: 0 auto;
}
/****************************/
/* HEADER*/
/****************************/
.header {
  margin-top: 3.2rem;
  grid-column: 2 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 2.4rem; */
  /* background-color: #7a928f; */
}

.search-form {
  max-width: 44rem;

  display: flex;
  align-items: center;
  gap: 2.4rem;

  background-color: #fafbfb;
  padding: 1.8rem 0 1.8rem 2.4rem;
  border-radius: 9px;
}

.search-form input {
  width: 100%;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fafbfb;
}

.notification-icon {
  background: #fafbfb;
  border-radius: 4px;
  padding: 1.4rem;
  /* margin-left: auto; */
}

.profile-name {
  font-weight: 500;
  font-size: 1.8rem;
  color: #35605a;
  margin-bottom: 0.6rem;
}

.profile-badge--spring {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #ffffff;
  background-color: #35605a;
  border-radius: 2px;
  padding: 0.4rem 0.8rem;
}

.profile-box {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  /* margin-left: auto; */
  padding-right: 4rem;
}

.header-left {
  display: flex;
  gap: 2.4rem;
}

/****************************/
/* LEFT HEADER*/
/****************************/

.left-header {
  grid-row: 1 / -4;
  padding: 0 2.4rem;
  max-width: 31rem;
  position: relative;
}

.logo-link:link,
.logo-link:visited {
  text-decoration: none;
  font-size: 2.4rem;
  line-height: 3rem;
  color: #00120b;

  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-top: 4.8rem;
}

.left-side-nav {
  margin-top: 8.5rem;
  padding-bottom: 20rem;
  border-bottom: 1px solid rgba(107, 129, 140, 0.2);
}

.left-side-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.left-side-nav-link:link,
.left-side-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 2.3rem;
  color: #6b818c;
  padding: 2rem 0;

  display: flex;
  align-items: center;
  gap: 2.4rem;

  transition: all 0.3s;
}

.left-side-nav-link:hover,
.left-side-nav-link:active {
  color: #00bd9d;
  border-right: 10px solid #00bd9d;
  border-radius: 7px;
}

.left-side-nav-link.active:link,
.left-side-nav-link.active:visited {
  color: #00120b;
  border-right: 10px solid #00bd9d;
  border-radius: 7px;
}

.left-side-footer {
  margin-top: 6.4rem;
}

.aside-bussines {
  margin-top: 6.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;

  padding: 1.6rem 2.4rem;

  background: #fafbfb;
  border-radius: 8px;
}

.aside-heading {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: #35605a;
}

.aside-heading,
.aside-text {
  text-align: center;
  letter-spacing: -0.02em;
}

.aside-text {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #6b818c;
}

.btn-aside:link,
.btn-aside:visited {
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #ffffff;

  padding: 1.6rem 5.2rem;

  background-color: #49c6e5;
  border-radius: 4px;
  text-align: center;
  transition: all 0.3s;
}

.btn-aside:hover,
.btn-aside:active {
  background-color: #18a2c4;
}

/* MOBILE */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/****************************/
/* SECTION CONTENT*/
/****************************/
.transfers {
  grid-column: 1 / -1;
  width: 100%;
  gap: 1.6rem;
  justify-items: center;
}

.section-content {
  grid-column: span 2;
}

.transfer-box {
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
  border-radius: 11px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  /* margin-right: 2.4rem; */
  padding: 0 5.4rem 3.2rem 2.4rem;
  position: relative;

  transition: all 0.4s;
}

.transfer-box:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.transfer-box .three-dots {
  padding: 1.6rem 1.6rem 0 0;
}

.transfer-icon-box {
  background-color: rgba(0, 189, 157, 0.05);
  margin-top: 2.4rem;
  padding: 1.8rem;
  max-width: 6.4rem;
  max-height: 6.4rem;
}

.transfer-icon {
  display: inline-block;
  height: 3.2rem;
  width: 3.2rem;
}

.transfer-text {
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #35605a;
}

.transfer-amount {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4rem;
}

.main-content-box {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  row-gap: 6.4rem;
  column-gap: 3.2rem;
}

.content-left {
  grid-column: span 5;
  padding-left: 2.4rem;
  width: auto;
}
/****************************/
/* BALANCE GRAPH BOX STYLES */
/****************************/
.graph-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.graph-btn-box {
  padding: 2px;
  margin-right: 4rem;
  background: #f4fbf7;
  border: 0.5px solid rgba(107, 129, 140, 0.2);
  border-radius: 4.8rem;

  display: flex;
}

.graph-btn {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #35605a;
  padding: 0.8rem 1.2rem;

  transition: all 0.3s;
}

.graph-btn:hover {
  color: #61adad;
}

.graph-btn--active {
  background-color: #35605a;
  border-radius: 4.8rem;
  color: #fafbfb;
}

.balance {
  margin-top: 5.4rem;
}

/****************************/
/* TABLE BOX STYLES */
/****************************/

.table-box {
  margin-top: 6.4rem;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.4rem;
}

.btn-table:link,
.btn-table:visited {
  text-decoration: none;
  /* font-size: 1.4rem;
  line-height: 1.8rem; */
  color: #35605a;

  border: 1px solid #e0ebeb;
  padding: 1.2rem 2.4rem;

  display: flex;
  gap: 1.2rem;

  transition: all 0.3s;
}

.btn-table:hover,
.btn-table:active {
  background-color: rgba(0, 189, 157, 0.2);
  color: #00bd9d;
}

table {
  margin-top: 2.8rem;
  width: 764px;
  font-size: 1.8rem;
  border-collapse: collapse;
}

th {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #6b818c;
}

thead tr {
  border-bottom: 1px solid #d4eedf;
}

tbody tr {
  border-bottom: 1px solid rgba(107, 129, 140, 0.1);
}

th,
td {
  /* border: 1px solid #343a40; */
  /* padding: 1.6rem 2.4rem; */
  padding: 1.6rem 0.4rem;
  text-align: left;
}

td {
  font-size: 1.8rem;
  line-height: 2rem;
}

thead th {
  background-color: rgba(107, 129, 140, 0.05);
  width: 25%;
}

tr td:nth-child(1) {
  color: #00120b;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

tr td:nth-child(2) {
  color: #6b818c;
}

.status {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #35605a;
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 6px 8px;
  border-radius: 2px;
}

.completed::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #00bd9d;
}

.pending::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #35605a;
}

.completed {
  background-color: rgba(0, 189, 157, 0.1);
  color: #00bd9d;
}

.pending {
  background-color: rgba(53, 96, 90, 0.1);
}

/****************************/
/* RIGHT SIDE */
/****************************/
.content-right {
  grid-column: span 3;
  padding: 0 2.4rem;
  max-width: 50rem;
}

.debit-card-img {
  width: 100%;
}

.btn-debit-card:link,
.btn-debit-card:visited {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.06em;
  color: #00bd9d;
  text-transform: uppercase;

  border: 2px dashed rgba(0, 189, 157, 0.2);
  border-radius: 1.2rem;

  display: flex;
  justify-content: center;
  gap: 1.4rem;

  margin-top: 2.4rem;
  max-width: 45rem;
  text-align: center;

  transition: all 0.3s;
}

.btn-debit-card:hover,
.btn-debit-card:active {
  background-color: rgba(0, 189, 157, 0.2);
  color: #388d7f;
}

.current-total-box {
  position: relative;
  margin-top: 3.2rem;
}

.current-total-amount {
  font-weight: 500;
  font-size: 6.4rem;
  line-height: 8rem;
  margin-top: 1.8rem;
}

.transactions-box {
  margin-top: 6.4rem;
}

.transactions-box .heading-secondary {
  display: flex;
}

.right-arrow {
  margin-left: auto;
  color: #00bd9d;
}

.transactions-list {
  margin-top: 3.2rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.transaction {
  display: flex;
  align-items: center;
}

.transaction-icon {
  padding: 1.8rem;
  background: rgba(0, 189, 157, 0.05);
  border-radius: 4px;
}

.transaction-name-box {
  margin-left: 1.8rem;
}

.transaction-name {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.8rem;
}

.transaction-status,
.transaction-amount {
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #6b818c;
}

.transaction-amount {
  font-weight: 500;
  text-align: right;
  margin-left: auto;
}

.transaction-amount--plus {
  color: #00bd9d;
}

/* MOBILE FOOTER */

.footer-mobile {
  display: none;
}
